body {
	vertical-align: center;
	background-image: url("library.jpg");
	background-size: cover;
	}
header{
	text-align: center;
	color: white;
	font-family: "Courier New", monospace;
}
p{
	display: inline;
}
.centered-text{
	text-align: center;
}
section {
	font-family: "Courier New", monospace;
}