body {
  vertical-align: center;
  background-color: #905000;
  background-size: cover;
}

h1 {
  text-align: center;
}

header {
  font-family: "Courier New", monospace;
  color: white;
}

img {
  width: 500px;
  height: 400px;
  box-shadow: 0px 10px 10px black;
}

section {
  font-family: "Courier New", monospace;
  color: white;
  font-size: 15px;
  padding: 15px;
}
