body {
  vertical-align: center;
  background-image: url("../images/library.jpg");
  background-size: cover;
}
header{
  text-align: center;
  color: white;
  font-family: "Courier New", monospace;
}
h3{
  text-align: center;
}
section.one, section{
  margin: 50px 450px 50px 50px;
  font-family: "Courier New", monospace;
  color: white;
  font-size: 20px;
  text-outline: 2px black;
}
